<p>
  <b>Location:</b>
  <%=h @vcard.location %>
</p>

<p>
  <b>Street:</b>
  <%=h @vcard.street %>
</p>

<p>
  <b>Locality:</b>
  <%=h @vcard.locality %>
</p>

<p>
  <b>Region:</b>
  <%=h @vcard.region %>
</p>

<p>
  <b>Postalcode:</b>
  <%=h @vcard.postalcode %>
</p>

<p>
  <b>Country:</b>
  <%=h @vcard.country %>
</p>

<p>
  <b>First name:</b>
  <%=h @vcard.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @vcard.last_name %>
</p>

<p>
  <b>Org:</b>
  <%=h @vcard.org %>
</p>

<p>
  <b>Email1:</b>
  <%=h @vcard.email1 %>
</p>

<p>
  <b>Email1 type:</b>
  <%=h @vcard.email1_type %>
</p>

<p>
  <b>Email2:</b>
  <%=h @vcard.email2 %>
</p>

<p>
  <b>Email2 type:</b>
  <%=h @vcard.email2_type %>
</p>

<p>
  <b>Lat:</b>
  <%=h @vcard.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @vcard.lng %>
</p>


<%= link_to 'Edit', edit_vcard_path(@vcard) %> |
<%= link_to 'Back', vcards_path %>
